.form_header{
    font-weight: 600;
    margin-bottom: 6px;
}

.main-content {
    flex-grow: 1;
}

.hero {
    background: url('assets/images/band-banner.jpg') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    color: white;
}

.hero h1 {
    font-size: 4rem;
    text-transform: uppercase;
}

.hero p {
    font-size: 1.5rem;
}

#total_label{
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
}