@import url(https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap);

:root {
  --light-red: #b11226;
  --obsidian-black: #1b1b1b;
  --gold: #daa520;
  --deep-red: #64000f;
  --smoke-gray: #585858;
  --midnight-black: #00040d;
}

.form_header {
  font-weight: normal;
  margin-bottom: 6px;
}

html {
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
  text-align: center;
  background: linear-gradient(
    to bottom,
    var(--midnight-black), var(--deep-red)
  );
  color: var(--light-red);
  font-size: large;
}

body * {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "Bebas Neue", sans-serif;
  color: var(--light-red);
}

a:hover {
  transition: ease 0.25s;
  color: var(--light-red);
}

i:hover {
  transition: ease 0.25s;
  color: var(--light-red);
}

body,
html {
  margin: 0;
  padding: 0;
}

/* Merch */

.main-content {
  flex-grow: 1;
}

.banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 60px;
  margin-top: -50px;
  padding-top: 20px;
}

.moving-container {
  display: flex;
  width: calc(200%);
  animation: move-right 20s linear infinite;
  background-color: var(--midnight-black);
  align-content: center;
  justify-content: center;
  text-align: center;
}

.moving-image {
  width: 16.66%;
  text-align: center;
  color: var(--gold) !important;
}

@keyframes move-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.hero {
  background-color: rgba(0, 0, 0, 0);
  padding: 50px 0;
  color: var(--deep-red);
  text-align: center;
}

.hero h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 4rem;
  letter-spacing: 1.5px;
  color: var(--light-red);
  background-color: rgba(0, 0, 0, 0);
}

.hero p {
  font-size: 1.5rem;
  color: var(--gold);
}

#about {
  background-color: var(--obsidian-black);
  color: var(--gold);
  margin: 20px;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom, var(--light-red), var(--gold)) 1;
  border-radius: 25px;
}

#about:hover {
  box-shadow: 0 0 30px rgba(255, 70, 0, 0.65);
}

.special-section {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.trapezoid {
  width: 100px;
  height: 200px;
  background: linear-gradient(
    to bottom right,
    var(--deep-red) 50%,
    var(--gold) 50%
  );
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0 100%);
  flex-shrink: 0;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-grow: 1;
}

.message {
  background-color: var(--obsidian-black);
  color: var(--gold);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.trapezoid-right {
  width: 100px;
  height: 200px;
  background: linear-gradient(
    to bottom left,
    var(--deep-red) 50%,
    var(--gold) 50%
  );
  clip-path: polygon(100% 0, 0 0, 20% 100%, 100% 100%);
  flex-shrink: 0;
}

footer {
  background-color: var(--obsidian-black);
  color: white;
  text-align: center;
  width: 100%;
  position: absolute;
}

footer a {
  color: white;
  text-decoration: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.1em;
}
