#tickets * {
  height: 25px;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#ticket_number {
  display: flex;
  align-content: center;
}

#ticket_quantity {
  width: 50px;
}

#ticket_number * {
  margin-right: 5px;
}


th {
   background-color: var(--obsidian-black) !important;
   color: rgb(231, 231, 231) !important;
}

td{
   background-color: var(--obsidian-black) !important;
   color: rgb(231, 231, 231) !important;
}
